# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.o
*.dylib
*.vscode

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#dependencies
bn256-20090824
dclxvi-20130329
*.rd
src/.release_time
src/build
src/bin
*.o
libssl.so.1.0.0